<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsing.product.api.dict.mapper.ProductDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsing.product.api.dict.entity.ProductDictEntity">
        <id column="id" property="id" />
        <result column="category_code" property="categoryCode" />
        <result column="category_desc" property="categoryDesc" />
        <result column="dict_code" property="dictCode" />
        <result column="dict_desc" property="dictDesc" />
        <result column="sort_no" property="sortNo" />
        <result column="data_type" property="dataType" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
